{% extends 'base.html' %}
{% block content %}
  <h1>{{ blog.title }}</h1>

  {% if request.user == blog.author or request.user.is_superuser %}
    <div style="text-align: right">
      <a href="{% url 'blog:update' blog.pk %}">수정</a>

      <form id="delete_form" action="{% url 'blog:delete' blog.pk %}" method="POST" style="display: inline">
        {% csrf_token %}
        <button type="button" id="delete_btn">삭제</button>
      </form>
    </div>
  {% endif %}

  <div style="text-align: right">
    {{ blog.author.username }}
  </div>
  <hr>
  <p>{{ blog.content }}</p>


  <a href="{% url 'blog:list' %}">목록으로 돌아가기</a>
{% endblock %}

{% block js %}
  <script>
    document.querySelector('#delete_btn').addEventListener('click', function() {
		  if(confirm('삭제 하시겠습니까?')) {
			  document.querySelector('#delete_form').submit();
      }
    })
  </script>
{% endblock %}