{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pystagram</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'font-awesome/css/fontawesome.css' %}" rel="stylesheet" />
  <link href="{% static 'font-awesome/css/brands.css' %}" rel="stylesheet" />
  <link href="{% static 'font-awesome/css/solid.css' %}" rel="stylesheet" />
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  {% block style %}{% endblock %}
</head>
<body>
<nav class="d-flex justify-content-between py-2 px-4 bg-black text-white">
  <div>
    <a href="{% url 'main' %}" class="text-decoration-none text-white">Pystagram</a>
  </div>
  <div>
    <a href="{% url 'search' %}">
      <i class="fa-solid fa-magnifying-glass text-white"></i>
    </a>
  </div>
  <div class="text-end">
    {% if request.user.is_authenticated %}
      {{ request.user.nickname }}
      <form action="{% url 'logout' %}" method="post" class="d-inline ms-2">
        {% csrf_token %}
        <button class="btn btn-dark btn-sm">로그아웃</button>
      </form>
    {% else %}
      <a class="btn btn-dark btn-sm" href="{% url 'signup' %}">회원가입</a>
      <a class="btn btn-dark btn-sm" href="{% url 'login' %}">로그인</a>
    {% endif %}
  </div>

</nav>

<div class="container pt-3">
  {% block content %}{% endblock %}
</div>

<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>