{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <style>
    .post-image {
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="text-end col-10 offset-1 col-lg-6 offset-lg-3">
      <a class="btn btn-sm btn-info" href="{% url 'create' %}">생성</a>
    </div>
    <div class="col-10 offset-1 col-lg-6 offset-lg-3 infinite-container">
      {% for post in object_list %}
        <div class="border-bottom my-4 infinite-item">
          <div class="mb-2">
            <span class="p-2 border rounded-circle me-2">
              <i class="fa-solid fa-user" style="width: 16px; padding-left: 1px;"></i>
            </span>
            {{ post.user.nickname }}
            {% if post.user == request.user %}
              <a href="{% url 'update' post.pk %}" class="btn btn-warning btn-sm float-end">
                수정
              </a>
            {% endif %}
          </div>
          <div class="swiper" style="max-height: 500px;">
            <div class="border-1 swiper-wrapper">
              {% for post_image in post.images.all %}
                <div class="swiper-slide">
                  <img class="img-fluid post-image" src="{{ post_image.image.url }}" alt="">
                </div>
              {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
          </div>
{#         TODO: like  #}
          <div class="my-2">
            {{ post.content | linebreaksbr }}
          </div>
        </div>
      {% endfor %}
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="infinite-more-link d-none"></a>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'waypoints/infinite.min.js' %}"></script>
  <script>
    const swiper = new Swiper('.swiper', {
      // Optional parameters
      direction: 'horizontal',
      loop: false,

      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
      },
    });

	  let infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      offset: 'bottom-in-view'
    })
  </script>
{% endblock %}