{% extends 'base.html' %}
{% load humanize %}
{% block style %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-10 offset-1 col-lg-6 offset-lg-3">
      <div>
        <span class="p-2 border rounded-circle me-2">
          <i class="fa-solid fa-user" style="width: 16px; padding-left: 3px;"></i>
        </span>
        {{ object.nickname }}
        
        {% if object != request.user %}
          <form action="{% url 'profile:follow' object.pk %}" method="post" class="d-inline">
            {% csrf_token %}
            <button class="btn btn-primary btn-sm ms-3">
              {% if is_follow %}
                Unfollow
              {% else %}
                Follow
              {% endif %}
            </button>
          </form>
        {% endif %}
      </div>

      <div class="row mt-2">
        <div class="col-4 text-center">{{ object.post_set.count | intcomma }} posts</div>
        <div class="col-4 text-center">
          <button class="border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#followers-modal">
            {{ object.followers.count | intcomma }} followers
          </button>
        </div>
        <div class="col-4 text-center">
          <button class="border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#following-modal">
            {{ object.following.count | intcomma }} following
          </button>
        </div>
      </div>

      <div class="row mt-2">
        {% for post in object.post_set.all %}
          <div class="col-4">
            <div class="swiper">
              <div class="border-1 swiper-wrapper">
                {% for post_image in post.images.all %}
                  <div class="swiper-slide">
                    <img class="img-fluid post-image" src="{{ post_image.image.url }}" alt="">
                  </div>
                {% endfor %}
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="modal fade" id="followers-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Followers</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul>
            {% for follower in object.followers.all %}
              <li>{{ follower.nickname }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="following-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Following</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul>
            {% for following in object.following.all %}
              <li>{{ following.nickname }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>ㅅ
  </div>
{% endblock %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script>
    const swiper = new Swiper('.swiper', {
      // Optional parameters
      direction: 'horizontal',
      loop: false,

      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
      },
    });
  </script>
{% endblock %}